{% extends 'base.html' %}

{% block content %}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Flask Webpage</title>
    </head>
    <body>
        <h1>Ever Changing Picture Gallery</h1>


        <form method="post" action="{{ url_for('index') }}">
            <label for="user_input">Start a story:</label>
            <input type="text" name="user_input" id="user_input">
            <input type="submit" value="Submit">
        </form>


        <h2>Images:</h2>

        {% for image in images %}
            <img src="{{ image }}" alt="{{ image }}">
        {% endfor %}
    </body>
    </html>

{% endblock %}
