{% extends 'base.html' %}

{% block content %}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Flask Webpage</title>
    </head>
    <body>
        <h1>Ever Changing Picture Gallery</h1>

        <form method="post" action="/start_action">
        <button type="Start">Start</button>
        </form>

        <h2>Images:</h2>

        {% for entry in story %}
            <ul>
                <li>{{ entry['username'] }} writes the following:</li>
                <li>Story: {{ entry['user_text'] }}</li>
                <li><img src="{{ url_for('static',filename='gallery/'+entry['filename']) }}" alt="{{ image }}"></li>
            </ul>
        {% endfor %}

        <form method="post" action="/addtostory">
            <label for="user_input">Continue the story:</label>
            <input type="text" name="user_input" id="user_input">
            <input type="submit" value="finish writing">
        </form>
    </body>
    </html>

{% endblock %}
